* {
    margin: 0;
    box-sizing: border-box;
}

body {
    background-image: url(./Images/background.jpg);
    height: 85vh;
    background-position-x: center;
    background-repeat: no-repeat;
    background-size: cover;
    position: relative;
}

header {
    max-width: 100%;
}

.container {
    margin: auto;
    margin-top: 2%;
    position: absolute;
    top: 1%;
    left: 20%;
    margin-right: 20px;
    background-color: rgba(0, 0, 0, 0.5);
    width: 61%;
    height: 100%;
    border-radius: 20px;
}

.logo {
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 18%;
    margin-top: 120px;
    margin-bottom: 8px;
}

h1 {
    font-family: 'Inter', sans-serif;
    color: #00DD00;
    text-align: center;

}

.navbar {
    width: 1250px;
    height: 40px;
    background-color: #00DD00;
    margin: auto;
    margin-top: 10px;
    position: relative;
}

#buttons {
    position: absolute;
    top: 10px;
    left: 40%;
}

main {
    position: relative;
    margin: auto;
    max-width: 100%;
}

.monopattini {
    color: white;
    font-family: 'Inter', sans-serif;
    margin-top: 1%;
    margin-left: 10%;
}

.fa-square-o {
    color: white;
    background-color: white;
    size: 20px;

}


p {
    font-size: larger;
}

span {
    font-size: larger;
}

.square {
    margin-top: 5px;
    border-radius: 10px;
}

.orange {
    background-color: #F5B453;
    width: 300px;
    height: 30px;
}

.green {
    background-color: #1EC31E;
    width: 570px;
    height: 30px;
}

.red {
    width: 150px;
    height: 30px;
    background-color: #BE4141;
}